@import "../partials/reset";
@import "../partials/colors";
@import "../partials/typography";

//GLOBAL STYLES
body {
  background-image: $bg-gradient;
}

//Anti-aliased text
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// MAIN APP COMPONENT
.app {
  max-width: 1000px;
  margin: 7.5vw auto 0 auto;
}

@media screen and (min-width: 1008px) {
  .app {
    margin: 40px auto 0 auto;
  }
}

// HEADER COMPONENT
.header-wrapper {
  color: $white-copy;
  text-align: center;

  h1 {
    font-size: 8vw;
    margin-bottom: 1.5vw;
  }
  .stem-copy {
    font-family: $segoe;
    font-weight: 600;
    text-transform: uppercase;
  }
  .reads-copy {
    font-family: $comfortaa;
    font-weight: 300;
  }
  p {
    font-family: $segoe;
    font-weight: 400;
    font-size: 4vw;
    padding: 0 15vw;
  }

  @media screen and (min-width: 667px) {
    h1 {
      font-size: 5.8vw;
      margin-bottom: 1.5vw;
    }

    p {
      font-size: 2.5vw;
      padding: 0 12vw;
    }
  }

  @media screen and (min-width: 1008px) {
    h1 {
      font-size: 48px;
      margin-bottom: 12px;
    }
    p {
      font-size: 24px;
      padding: 0 50px;
    }
  }
}

//AUTHENTICATE COMPONENT
.form-wrapper {
  width: 260px;
  margin: 60px auto 0 auto;
  background: $bg-gray;
  padding-bottom: 40px;
  border-radius: 4px;
  box-shadow: 7px 7px 15px 0px;
  -moz-box-shadow: 7px 7px 15px 0px $black-copy;
  -webkit-box-shadow: 7px 7px 15px 0px $black-copy;
  font-family: $segoe;

  form {
    padding: 100px 40px 0px 40px;

    .input-fields {
      padding-bottom: 40px;
      .username-field {
        padding-bottom: 40px;
        padding-bottom: 22px;
      }

      .username-field,
      .password-field {
        font-weight: 600;
        input {
          margin-top: 22px;
          border-radius: 4px;
          border: 1px solid #cccccc;
          padding: 7px 0;
          width: 300px;
        }
      }
    }
  }

  .or-flex {
    display: flex;
    width: 210px;
    margin: 20px 0;
  }

  .horiz-left,
  .horiz-right {
    color: $dark-gray;
    width: 120px;
    border: 0.5px solid $dark-gray;
  }
  .or-copy {
    padding: 0 15px;
    color: $dark-gray;
  }

  .sign-up-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    input {
      background-image: $bg-gradient;
      color: $white-copy;
      border: none;
      font-size: 16px;
      padding: 12px 0;
      width: 210px;
      border-radius: 4px;
      transition: 0.2s all;
    }

    input:hover {
      cursor: pointer;
      opacity: 0.85;
    }
  }
}
@media screen and (min-width: 667px) {
  .form-wrapper {
    width: 380px;
  }
}
