@import "../partials/reset";
@import "../partials/colors";
@import "../partials/typography";

//GLOBAL STYLES
body {
  background-image: $bg-gradient;
}

//Anti-aliased text
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// MAIN APP COMPONENT
.app {
  max-width: 1000px;
  margin: 7vw auto 0 auto;
}

@media screen and (min-width: 667px) {
  .app {
    margin: 5vw auto 0 auto;
  }
}

@media screen and (min-width: 1008px) {
  .app {
    margin: 40px auto 0 auto;
  }
}

// HEADER COMPONENT
.header-wrapper {
  color: $white-copy;
  text-align: center;

  h1 {
    font-size: 8vw;
    margin-bottom: 1.5vw;
  }
  .stem-copy {
    font-family: $segoe;
    font-weight: 600;
    text-transform: uppercase;
  }
  .reads-copy {
    font-family: $comfortaa;
    font-weight: 300;
  }
  p {
    font-family: $segoe;
    font-weight: 400;
    font-size: 4vw;
    padding: 0 15vw;
  }

  @media screen and (min-width: 667px) {
    h1 {
      font-size: 5.8vw;
      margin-bottom: 1.5vw;
    }

    p {
      font-size: 2.5vw;
      padding: 0 12vw;
    }
  }

  @media screen and (min-width: 1008px) {
    h1 {
      font-size: 48px;
      margin-bottom: 12px;
    }
    p {
      font-size: 24px;
      padding: 0 50px;
    }
  }
}

//AUTHENTICATE, SIGN UP, AND LOG IN COMPONENTS

.component-wrapper {
  width: 260px;
  // if stemreads description present use margin: 60px auto 0 auto;
  margin: 30px auto 0 auto;
  position: relative;
  .form-wrapper {
    background: $bg-gray;
    padding-bottom: 40px;
    border-radius: 4px;
    box-shadow: 7px 7px 15px 0px;
    -moz-box-shadow: 7px 7px 15px 0px $black-copy;
    -webkit-box-shadow: 7px 7px 15px 0px $black-copy;
    font-family: $segoe;

    form {
      padding: 40px 0px 0px 0px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin: auto;
      width: 208px;

      .input-fields {
        padding-bottom: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        width: 1px;
        .username-field {
          padding-bottom: 40px;
          padding-bottom: 22px;
        }

        .username-field,
        .password-field {
          font-weight: 600;
          input {
            margin-top: 22px;
            border-radius: 4px;
            border: 1px solid #cccccc;
            padding: 8px 7px;
            font-size: 16px;
            width: 208px;
          }

          @media screen and (min-width: 667px) {
            input {
              width: 300px;
            }
          }
        }
      }
    }

    .sign-up-buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      input {
        background-image: $bg-gradient;
        color: $white-copy;
        border: none;
        font-size: 16px;
        padding: 12px 0;
        width: 210px;
        border-radius: 4px;
        transition: 0.2s all;
      }

      input:hover {
        cursor: pointer;
        opacity: 0.85;
      }

      .or-flex {
        display: flex;
        width: 210px;
        margin: 20px 0;

        .horiz-left,
        .horiz-right {
          color: $dark-gray;
          width: 120px;
          border: 0.5px solid $dark-gray;
        }
        .or-copy {
          padding: 0 15px;
          color: $dark-gray;
        }
      }
    }

    .routing-buttons {
      display: flex;
      text-align: center;
      justify-content: space-between;

      .signup-button {
        color: $inactive-black;
        border-top-left-radius: 4px;
        &:hover {
          cursor: pointer;
        }
      }
      .login-button {
        background: $active-gray;
        color: $white-copy;
        border-top-right-radius: 4px;

        &:hover {
          cursor: pointer;
        }
      }

      .signup-button,
      .login-button {
        padding: 20px 35px;
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;

        .auth-icon {
          position: relative;
          top: 7px;
        }
      }

      @media screen and (min-width: 667px) {
        .signup-button,
        .login-button {
          flex-direction: row;
          justify-content: center;

          .auth-icon {
            position: relative;
            top: 0px;
            left: 10px;
          }
        }
      }
    }
  }

  .account-question {
    text-align: center;
    margin-top: 20px;
    a {
      font-family: $segoe;
      font-size: 14px;
      color: $white-copy;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    @media screen and (min-width: 667px) {
      a {
        font-size: 16px;
      }
    }
  }

  .preview-collection-wrapper {
    // text-align: center;

    display: none;
    // margin: auto;
    .preview-collection {
      color: $black-copy;
      background: $white-copy;
      font-size: 14px;
      padding: 8px 10px;
      border-radius: 3px;
      font-family: $segoe;
      border: none;
      font-weight: 500;
      margin-top: 15px;
      transition: 0.2s all;

      &:hover {
        cursor: pointer;
        color: $white-copy;
        background: $black-copy;
      }
      // width: 200px;
      // margin: auto;
    }
  }
  @media screen and (min-width: 667px) {
    .preview-collection-wrapper {
      position: absolute;
      // bottom: -11vw;
      // left: 0;
      left: 31.5%;
      right: 0;
      width: 100%;
      bottom: -8vw;
      display: block;
    }
  }

  @media screen and (min-width: 750px) {
    .preview-collection-wrapper {
      bottom: -5.5vw;
    }
  }

  @media screen and (min-width: 1008px) {
    .preview-collection-wrapper {
      bottom: -55px;
    }
  }
}

@media screen and (min-width: 667px) {
  .component-wrapper {
    width: 380px;
  }
}
