$white-copy: #ffffff;
$black-copy: #000000;

$bg-gray: #f2f2f2;
$active-gray: #cccccc;
$inactive-black: #1a1a1a;
$bg-gradient: linear-gradient(
  90deg,
  rgba(220, 92, 255, 1),
  rgba(63, 97, 255, 1)
);
$dark-gray: #808080;
