// HEADER COMPONENT
.header-wrapper {
  color: $white-copy;
  text-align: center;

  h1 {
    font-size: 8vw;
    margin-bottom: 1.5vw;
  }
  .stem-copy {
    font-family: $segoe;
    font-weight: 600;
    text-transform: uppercase;
  }
  .reads-copy {
    font-family: $comfortaa;
    font-weight: 300;
  }
  p {
    font-family: $segoe;
    font-weight: 400;
    font-size: 4vw;
    padding: 0 14vw;
    line-height: 4.5vw;
    a {
      color: $white-copy;
    }
  }

  @media screen and (min-width: 667px) {
    h1 {
      font-size: 5.8vw;
      margin-bottom: 1.5vw;
    }

    p {
      font-size: 2.5vw;
      // padding: 0 12vw;
      padding: 0 24vw;
      line-height: 2.7vw;
    }
  }

  @media screen and (min-width: 1008px) {
    h1 {
      font-size: 48px;
      margin-bottom: 12px;
    }
    p {
      // font-size: 24px;
      font-size: 20px;
      // padding: 0 50px;
      padding: 0;
      line-height: 15px;
    }
  }
}
