html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-image: linear-gradient(90deg, #dc5cff, #3f61ff); }

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.app {
  max-width: 1000px;
  margin: 7.5vw auto 0 auto; }

@media screen and (min-width: 1008px) {
  .app {
    margin: 40px auto 0 auto; } }
.header-wrapper {
  color: #ffffff;
  text-align: center; }
  .header-wrapper h1 {
    font-size: 8vw;
    margin-bottom: 1.5vw; }
  .header-wrapper .stem-copy {
    font-family: "Segoe UI";
    font-weight: 600;
    text-transform: uppercase; }
  .header-wrapper .reads-copy {
    font-family: "Comfortaa", cursive;
    font-weight: 300; }
  .header-wrapper p {
    font-family: "Segoe UI";
    font-weight: 400;
    font-size: 4vw;
    padding: 0 15vw; }
  @media screen and (min-width: 667px) {
    .header-wrapper h1 {
      font-size: 5.8vw;
      margin-bottom: 1.5vw; }
    .header-wrapper p {
      font-size: 2.5vw;
      padding: 0 12vw; } }
  @media screen and (min-width: 1008px) {
    .header-wrapper h1 {
      font-size: 48px;
      margin-bottom: 12px; }
    .header-wrapper p {
      font-size: 24px;
      padding: 0 50px; } }

.form-wrapper {
  width: 260px;
  margin: 60px auto 0 auto;
  background: #f2f2f2;
  padding-bottom: 40px;
  border-radius: 4px;
  box-shadow: 7px 7px 15px 0px;
  -moz-box-shadow: 7px 7px 15px 0px #000000;
  -webkit-box-shadow: 7px 7px 15px 0px #000000;
  font-family: "Segoe UI"; }
  .form-wrapper form {
    padding: 100px 40px 0px 40px; }
    .form-wrapper form .input-fields {
      padding-bottom: 40px; }
      .form-wrapper form .input-fields .username-field {
        padding-bottom: 40px;
        padding-bottom: 22px; }
      .form-wrapper form .input-fields .username-field,
      .form-wrapper form .input-fields .password-field {
        font-weight: 600; }
        .form-wrapper form .input-fields .username-field input,
        .form-wrapper form .input-fields .password-field input {
          margin-top: 22px;
          border-radius: 4px;
          border: 1px solid #cccccc;
          padding: 7px 0;
          width: 300px; }
  .form-wrapper .or-flex {
    display: flex;
    width: 210px;
    margin: 20px 0; }
  .form-wrapper .horiz-left,
  .form-wrapper .horiz-right {
    color: #808080;
    width: 120px;
    border: 0.5px solid #808080; }
  .form-wrapper .or-copy {
    padding: 0 15px;
    color: #808080; }
  .form-wrapper .sign-up-buttons {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .form-wrapper .sign-up-buttons input {
      background-image: linear-gradient(90deg, #dc5cff, #3f61ff);
      color: #ffffff;
      border: none;
      font-size: 16px;
      padding: 12px 0;
      width: 210px;
      border-radius: 4px;
      transition: 0.2s all; }
    .form-wrapper .sign-up-buttons input:hover {
      cursor: pointer;
      opacity: 0.85; }

@media screen and (min-width: 667px) {
  .form-wrapper {
    width: 380px; } }

/*# sourceMappingURL=main.css.map */
